##----------------------------------------------------------------------
## https://github.com/github/gitignore/blob/main/Global/MATLAB.gitignore
##----------------------------------------------------------------------

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

# Matlab Drive Tag
.MATLABDriveTag

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
sccprj/

# Matlab code generation folders
codegen/

# Simulink cache files
*.slxc

# Non-public PDF articles
articles/Using_Electroencephalography_to_Measure_Cognitive_Load.pdf
